<div
  class="border border-stroke-1 h-[26rem] rounded-xl p-4 min-w-[250px] cursor-pointer"
  [routerLink]="['/listing', id]"
>
  <div class="h-[16rem] overflow-hidden rounded-md">
    <img class="object-cover w-full h-full" [src]="image_url" alt="house" />
  </div>
  <div class="my-4">
    <h6 class="h-12 mb-4 text-base font-bold line-clamp-2">
      {{ title }}
    </h6>
    <p>
      <b>${{ price }}</b> COP night
    </p>
    <div class="mt-auto ml-auto text-color-4 w-fit">
      <i class="fa-solid fa-star"></i>
      <p class="inline ml-1">4.95</p>
    </div>
  </div>
</div>
