<div
  class="border border-stroke-1 h-[24rem] rounded-xl p-4 min-w-[250px] cursor-pointer"
>
  <div class="h-[70%] overflow-hidden rounded-md">
    <img
      class="object-cover w-full h-full"
      src="./assets/houses/house1.jpg"
      alt="house"
    />
  </div>
  <div class="my-4">
    <h6 class="mb-4 text-base font-bold truncate">
      Guatavita - Stunning cabins - La Leopolda
    </h6>
    <p><b>$355,000</b> COP night</p>
    <div class="mt-auto ml-auto text-color-4 w-fit">
      <i class="fa-solid fa-star"></i>
      <p class="inline ml-1">4.95</p>
    </div>
  </div>
</div>
