.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
    min-height: 100vh;
    overflow: hidden;
  }


.login-box {
    /* border: var(--border-color) 1px solid; */
    border-radius: 20px;
    width: 20rem;
    padding: 2rem 2rem;
    background-color: rgba(38, 36, 44, 0.8);
  }