<div class="w-[30rem] mx-auto">
  <div class="mt-10">
    <p-floatLabel>
      <input
        #newTitle
        pInputText
        class="w-full h-12 input"
        id="title"
        [(ngModel)]="title"
      />
      <label for="title">Title</label>
    </p-floatLabel>
  </div>
  <div class="mt-10">
    <p-floatLabel>
      <input
        #newAdress
        pInputText
        class="w-full h-12 input"
        id="address"
        [(ngModel)]="address"
      />
      <label for="address">Address</label>
    </p-floatLabel>
  </div>
  <div class="flex justify-center gap-8 mt-10">
    <p-floatLabel>
      <p-inputNumber
        #newPricePerNight
        [(ngModel)]="price"
        inputId="currency"
        mode="currency"
        currency="COL"
        locale="en-US"
        class="h-12"
      />
      <label for="currency">Price per night</label>
    </p-floatLabel>
    <p-floatLabel>
      <p-inputNumber
        #newMaxGuests
        [(ngModel)]="guests"
        inputId="guests"
        mode="decimal"
        [min]="1"
        [max]="100"
        class="h-12"
      />
      <label for="guests">Max guests</label>
    </p-floatLabel>
  </div>
  <div class="flex justify-center gap-8 mt-10">
    <p-floatLabel>
      <p-inputNumber
        #newNumBedrooms
        [(ngModel)]="bedrooms"
        inputId="bedrooms"
        mode="decimal"
        [min]="1"
        [max]="100"
        class="h-12"
      />
      <label for="bedrooms">Bedrooms</label>
    </p-floatLabel>
    <p-floatLabel>
      <p-inputNumber
        #newNumBathrooms
        [(ngModel)]="bathrooms"
        inputId="bathrooms"
        mode="decimal"
        [min]="1"
        [max]="100"
        class="h-12"
      />
      <label for="bathrooms">Bathrooms</label>
    </p-floatLabel>
  </div>
  <div class="flex justify-center gap-8 mt-10">
    <p-floatLabel>
      <p-inputNumber
        #newLatitude
        [(ngModel)]="latitude"
        inputId="latitude"
        mode="decimal"
        [min]="-999999"
        [max]="999999"
        class="h-12"
      />
      <label for="latitude">Latitude</label>
    </p-floatLabel>
    <p-floatLabel>
      <p-inputNumber
        #newLongitude
        [(ngModel)]="longitude"
        inputId="longitude"
        mode="decimal"
        [min]="-999999"
        [max]="999999"
        class="h-12"
      />
      <label for="longitude">Longitude</label>
    </p-floatLabel>
  </div>
  <div class="mt-10">
    <p-floatLabel>
      <textarea
        #newDescription
        id="description"
        rows="5"
        pInputTextarea
        class="w-full py-4"
        [autoResize]="true"
        [(ngModel)]="description"
      >
      </textarea>
      <label for="description">Description</label>
    </p-floatLabel>
  </div>
  <div class="mt-10">
    <app-upload-file (newItemEvent)="newFiles($event)" />
  </div>

  <!-- Fotografías ya existentes -->
  <div class="px-4 pt-2 pb-6 mt-12 border rounded-lg border-stroke-1">
    <h6 class="mb-6 h6">Uploaded images</h6>
    <div class="flex flex-wrap gap-5 p-0 sm:p-5">
      <div
        *ngFor="let file of oldFiles; let i = index"
        class="flex gap-3 px-6 m-0 card flex-column border-1 surface-border align-items-center"
      >
        <div>
          <img
            role="presentation"
            [alt]="file.image_id"
            [src]="file.image_url"
            width="100"
            height="50"
          />
        </div>
        <button
          class="flex w-8 h-8 rounded-full bg-n-2"
          (click)="onRemoveOldFile($event, i)"
        >
          <ng-icon class="m-auto text-n-8" name="heroTrash" />
        </button>
      </div>
    </div>
  </div>

  <div class="my-4 h-fit">
    <p class="text-color-5 body-2">{{ error }}</p>
  </div>

  <div class="mt-12 ml-auto w-fit">
    <button
      class="flex items-center justify-center w-32 h-12 py-2 rounded-lg bg-color-1 text-n-1"
      [ngClass]="isLoading ? 'bg-color-1/50' : 'hover:opacity-80'"
      [disabled]="isLoading"
      (click)="newListing()"
    >
      <p-progressSpinner
        *ngIf="isLoading; else elseBlock"
        styleClass="h-full mx-auto"
        strokeWidth="4"
        class="h-full"
      />
      <ng-template #elseBlock> <p class="text-center">Save</p> </ng-template>
    </button>
  </div>
</div>
