<div class="w-[30rem] mx-auto">
  <div class="mt-10">
    <p-floatLabel>
      <input
        #newTitle
        pInputText
        class="w-full h-12 input"
        id="title"
        [(ngModel)]="title"
      />
      <label for="title">Title</label>
    </p-floatLabel>
  </div>
  <div class="mt-10">
    <p-floatLabel>
      <input
        #newAdress
        pInputText
        class="w-full h-12 input"
        id="address"
        [(ngModel)]="address"
      />
      <label for="address">Address</label>
    </p-floatLabel>
  </div>
  <div class="flex justify-center gap-8 mt-10">
    <p-floatLabel>
      <p-inputNumber
        #newPricePerNight
        [(ngModel)]="price"
        inputId="currency"
        mode="currency"
        currency="COL"
        locale="en-US"
        class="h-12"
      />
      <label for="currency">Price per night</label>
    </p-floatLabel>
    <p-floatLabel>
      <p-inputNumber
        #newMaxGuests
        [(ngModel)]="guests"
        inputId="guests"
        mode="decimal"
        [min]="1"
        [max]="100"
        class="h-12"
      />
      <label for="guests">Max guests</label>
    </p-floatLabel>
  </div>
  <div class="flex justify-center gap-8 mt-10">
    <p-floatLabel>
      <p-inputNumber
        #newNumBedrooms
        [(ngModel)]="bedrooms"
        inputId="bedrooms"
        mode="decimal"
        [min]="1"
        [max]="100"
        class="h-12"
      />
      <label for="bedrooms">Bedrooms</label>
    </p-floatLabel>
    <p-floatLabel>
      <p-inputNumber
        #newNumBathrooms
        [(ngModel)]="bathrooms"
        inputId="bathrooms"
        mode="decimal"
        [min]="1"
        [max]="100"
        class="h-12"
      />
      <label for="bathrooms">Bathrooms</label>
    </p-floatLabel>
  </div>
  <div class="flex justify-center gap-8 mt-10">
    <p-floatLabel>
      <p-inputNumber
        #newLatitude
        [(ngModel)]="latitude"
        inputId="latitude"
        mode="decimal"
        [min]="1"
        [max]="100"
        class="h-12"
      />
      <label for="latitude">Latitude</label>
    </p-floatLabel>
    <p-floatLabel>
      <p-inputNumber
        #newLongitude
        [(ngModel)]="longitude"
        inputId="longitude"
        mode="decimal"
        [min]="1"
        [max]="100"
        class="h-12"
      />
      <label for="longitude">Longitude</label>
    </p-floatLabel>
  </div>
  <div class="mt-10">
    <p-floatLabel>
      <textarea
        #newDescription
        id="description"
        rows="5"
        pInputTextarea
        class="w-full"
        [autoResize]="true"
        [(ngModel)]="description"
      >
      </textarea>
      <label for="description">Description</label>
    </p-floatLabel>
  </div>
  <div class="mt-10">
    <app-upload-file (newItemEvent)="newFiles($event)" />
  </div>

  <div class="my-4 h-fit">
    <p class="text-color-5 body-2">{{ error }}</p>
  </div>

  <div class="mt-12 ml-auto w-fit">
    <button
      class="flex items-center justify-center w-32 h-12 py-2 rounded-lg bg-color-1 text-n-1"
      [ngClass]="isLoading ? 'bg-color-1/50' : 'hover:opacity-80'"
      [disabled]="isLoading"
      (click)="test()"
    >
      <p-progressSpinner
        *ngIf="isLoading; else elseBlock"
        styleClass="h-full mx-auto"
        strokeWidth="4"
        class="h-full"
      />
      <ng-template #elseBlock> <p class="text-center">Save</p> </ng-template>
    </button>
  </div>
</div>
