<div class="w-[30rem] mx-auto">
  <div class="mt-10">
    <p-floatLabel>
      <input
        pInputText
        class="w-full h-12 input"
        id="title"
        [(ngModel)]="title"
      />
      <label for="title">Title</label>
    </p-floatLabel>
  </div>
  <div class="mt-10">
    <p-floatLabel>
      <input
        pInputText
        class="w-full h-12 input"
        id="address"
        [(ngModel)]="address"
      />
      <label for="address">Address</label>
    </p-floatLabel>
  </div>
  <div class="flex justify-center gap-8 mt-10">
    <p-floatLabel>
      <p-inputNumber
        [(ngModel)]="price"
        inputId="currency"
        mode="currency"
        currency="COL"
        locale="en-US"
        class="h-12"
      />
      <label for="currency">Price per night</label>
    </p-floatLabel>
    <p-floatLabel>
      <p-inputNumber
        [(ngModel)]="guests"
        inputId="guests"
        mode="decimal"
        [min]="1"
        [max]="100"
        class="h-12"
      />
      <label for="guests">Max guests</label>
    </p-floatLabel>
  </div>
  <div class="flex justify-center gap-8 mt-10">
    <p-floatLabel>
      <p-inputNumber
        [(ngModel)]="bedrooms"
        inputId="bedrooms"
        mode="decimal"
        [min]="1"
        [max]="100"
        class="h-12"
      />
      <label for="bedrooms">Bedrooms</label>
    </p-floatLabel>
    <p-floatLabel>
      <p-inputNumber
        [(ngModel)]="bathrooms"
        inputId="bathrooms"
        mode="decimal"
        [min]="1"
        [max]="100"
        class="h-12"
      />
      <label for="bathrooms">Bathrooms</label>
    </p-floatLabel>
  </div>
  <div class="flex justify-center gap-8 mt-10">
    <p-floatLabel>
      <p-inputNumber
        [(ngModel)]="latitude"
        inputId="latitude"
        mode="decimal"
        [min]="1"
        [max]="100"
        class="h-12"
      />
      <label for="latitude">Latitude</label>
    </p-floatLabel>
    <p-floatLabel>
      <p-inputNumber
        [(ngModel)]="longitude"
        inputId="longitude"
        mode="decimal"
        [min]="1"
        [max]="100"
        class="h-12"
      />
      <label for="longitude">Longitude</label>
    </p-floatLabel>
  </div>
  <div class="mt-10">
    <p-floatLabel>
      <textarea
        id="description"
        rows="5"
        pInputTextarea
        class="w-full"
        [autoResize]="true"
        [(ngModel)]="description"
      >
      </textarea>
      <label for="description">Description</label>
    </p-floatLabel>
  </div>
  <div class="mt-10">
    <app-upload-file />
  </div>

  <div class="mt-12 ml-auto w-fit">
    <button class="px-12 py-2 rounded-lg hover:opacity-80 bg-color-1 text-n-1">
      Save
    </button>
  </div>
</div>
