<header
  class="fixed top-0 left-0 z-50 w-full h-20 border-b bg-n-8/90 border-stroke-1 backdrop-blur-lg"
>
  <div class="flex items-center px-20">
    <a class="flex min-w-[12rem] max-w-[12rem] h-20" [routerLink]="['/']">
      <img src="./assets/airScapeLogo3.png" alt="airScape" class="m-auto" />
    </a>

    @if (user().userName.length > 0) {
    <div
      class="hidden lg:block h-10 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-n-2 w-[28rem]"
    >
      <input
        type="text"
        class="box-border w-full h-full text-sm border rounded-full pl-11 border-stroke-1 bg-n-6"
        placeholder="Buscar propiedad"
      />
      <div class="absolute flex w-4 h-4 m-auto -translate-y-1/2 top-1/2 left-4">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>
    <nav class="hidden gap-10 ml-auto lg:flex">
      <!-- Botón de mensajes -->
      <a class="self-center text-lg transition text-n-3 hover:text-color-1"
        ><i class="fa-solid fa-message"></i
      ></a>

      <!-- Foto de usuario -->
      <div
        (click)="toggleDropdown()"
        class="relative flex items-center gap-3 py-1 pl-4 pr-1 border rounded-full cursor-pointer border-stroke-1"
      >
        <div class="text-xl w-fit h-fit text-n-3">
          <i class="fa-solid fa-caret-down"></i>
        </div>
        <div class="w-10 h-10 overflow-hidden rounded-full">
          <img
           [src]="user().profilePicture"
            class="object-cover w-full h-full"
          />
        </div>

        <!-- Dropdown menu -->
        <div
          [ngClass]="
            isDropdownOpen ? 'visible opacity-100' : 'invisible opacity-0'
          "
          class="absolute right-0 z-10 mt-2 transition-opacity duration-100 rounded-lg top-full bg-n-6/90 w-44 backdrop-blur-lg"
        >
          <ul class="py-2 text-sm text-n-2">
            <!-- Opción para ver perfil -->
            <li
              class="flex items-center px-4 py-3 cursor-pointer hover:bg-n-5 hover:text-white"
              [routerLink]="['/profile']"
            >
              <ng-icon class="mr-3 text-lg" name="heroUser"></ng-icon>
              <p>Profile</p>
            </li>

            <!-- Opción para ver propiedades en caso de propietario -->
            @if (user().isOwner) {
            <li
              class="flex items-center px-4 py-3 cursor-pointer hover:bg-n-5 hover:text-white"
              [routerLink]="['/my-listings']"
            >
              <ng-icon class="mr-3 text-lg" name="heroHome"></ng-icon>
              <p>My listings</p>
            </li>
            }

            <!-- Opción para cerrar sesión -->
            <li
              class="flex items-center px-4 py-3 cursor-pointer hover:bg-n-5 hover:text-white"
              (click)="onLogOut()"
            >
              <ng-icon
                class="mr-3 text-lg"
                name="heroArrowLeftEndOnRectangle"
              ></ng-icon>
              <p>Sign out</p>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    }
  </div>
</header>
