<div class="mx-auto mt-12 w-fit">
  <div
    class="max-w-[70rem] border border-stroke-1 rounded-xl py-4 px-4 xl:px-8 mx-4"
  >
    <div class="flex items-center justify-between my-4">
      <h3 class="h3">Managing my stays</h3>
      <div class="self-center h-fit">
        <button
          class="flex items-center justify-center gap-2 px-8 py-2 rounded-lg bg-color-1 text-n-1"
          [routerLink]="['/listing/create']"
        >
          <ng-icon name="octPlus" />
          Add new stay
        </button>
      </div>
    </div>

    <div
      class="grid mx-auto mt-10 grid-col md:grid-cols-2 lg:grid-cols-3 gap-y-8 gap-x-6"
    >
      <div class="relative mx-auto w-fit group">
        <div
          class="absolute flex w-10 h-10 transition -translate-x-full rounded-full opacity-0 group-hover:opacity-100 top-4 right-6 bg-color-2 text-n-7"
        >
          <ng-icon name="octPencil" class="m-auto" />
        </div>
        <div
          class="absolute flex w-10 h-10 transition rounded-full opacity-0 group-hover:opacity-100 top-4 right-4 bg-color-5 text-n-7"
        >
          <ng-icon name="octTrash" class="m-auto" />
        </div>
        <app-listing-card />
      </div>
    </div>
  </div>
</div>
