<div class="container">
    <div class="hero">
      <h1>
        Find Your Home<br />
        Away from Home
      </h1>
      <p>Stay in unique homes and discover new adventures</p>
    </div>

    <div class="grid">
      <div class="property">
        <div class="image-container">
          <img src="./assets/houses/house1.jpg" alt="house" />
        </div>
        <div class="info-container">
          <h6>Guatavita - Stunning cabins - La Leopolda</h6>
          <p><b>$355,000</b> COP night</p>
          <div class="review">
            <i class="fa-solid fa-star"></i>
            <p>4.95</p>
          </div>
        </div>
      </div>

      <div class="property">
        <div class="image-container">
          <img src="./assets/houses/house2.jpg" alt="house" />
        </div>
        <div class="info-container">
          <h6>Glamping The Calera</h6>
          <p><b>$292,000</b> COP night</p>
          <div class="review">
            <i class="fa-solid fa-star"></i>
            <p>4.91</p>
          </div>
        </div>
      </div>

      <div class="property">
        <div class="image-container">
          <img src="./assets/houses/house3.jpg" alt="house" />
        </div>
        <div class="info-container">
          <h6>Tiny House with Natural Pool and King Bed</h6>
          <p><b>$440,000</b> COP night</p>
          <div class="review">
            <i class="fa-solid fa-star"></i>
            <p>4.94</p>
          </div>
        </div>
      </div>

      <div class="property">
        <div class="image-container">
          <img src="./assets/houses/house4.jpg" alt="house" />
        </div>
        <div class="info-container">
          <h6>Nature Cabin- Breakfast Included</h6>
          <p><b>$249,000</b> COP night</p>
          <div class="review">
            <i class="fa-solid fa-star"></i>
            <p>4.83</p>
          </div>
        </div>
      </div>
      
      <div class="property">
        <div class="image-container">
          <img src="./assets/houses/house5.jpg" alt="house" />
        </div>
        <div class="info-container">
          <h6>Cozy cabin in Guatavita</h6>
          <p><b>$400,000</b> COP night</p>
          <div class="review">
            <i class="fa-solid fa-star"></i>
            <p>4.96</p>
          </div>
        </div>
      </div>

      <div class="property">
        <div class="image-container">
          <img src="./assets/houses/house6.jpg" alt="house" />
        </div>
        <div class="info-container">
          <h6>LUXE High Rise City & Mnt. Views, Pool & Parking</h6>
          <p><b>$374,000</b> COP night</p>
          <div class="review">
            <i class="fa-solid fa-star"></i>
            <p>4.97</p>
          </div>
        </div>
      </div>

      <div class="property">
        <div class="image-container">
          <img src="./assets/houses/house7.jpeg" alt="house" />
        </div>
        <div class="info-container">
          <h6>Exclusive Beach House 4-Bedroom's</h6>
          <p><b>$4,038,000</b> COP night</p>
          <div class="review">
            <i class="fa-solid fa-star"></i>
            <p>4.95</p>
          </div>
        </div>
      </div>

      <div class="property">
        <div class="image-container">
          <img src="./assets/houses/house8.jpeg" alt="house" />
        </div>
        <div class="info-container">
          <h6>New Cabin ocean front near Palomino</h6>
          <p><b>$603,000</b> COP night</p>
          <div class="review">
            <i class="fa-solid fa-star"></i>
            <p>4.98</p>
          </div>
        </div>
      </div>
    </div>
  </div>