<div class="mx-8 mt-12">
  <div
    class="mx-auto max-w-[60rem] border border-stroke-1 rounded-lg py-6 px-8"
  >
    <h4 class="font-semibold h4">Bookings</h4>
    <div class="flex flex-col gap-6 mt-8">
      <app-booking-card [booking]="booking" *ngFor="let booking of bookings" />
      <div
        *ngIf="bookings.length === 0"
        class="flex flex-col items-center justify-center w-full h-full gap-4 my-8"
      >
        <ng-icon name="heroMagnifyingGlass" class="text-9xl" />
        <p class="body-1">You don't have any booking yet</p>
      </div>
    </div>
  </div>
</div>
