<div
  class="flex bg-n-6/80 w-[60rem] h-[5.5rem] rounded-xl mx-auto py-4 justify-center gap-4 px-4"
>
  <div class="relative flex-grow">
    <input
      type="text"
      class="w-full h-full pl-10 bg-transparent border rounded-lg border-n-5"
    />
    <ng-icon
      name="heroMapPin"
      class="absolute text-xl -translate-y-1/2 left-3 top-1/2"
    />
  </div>

  <div class="relative">
    <input
      type="number"
      class="w-24 h-full pl-10 bg-transparent border rounded-lg border-n-5"
    />
    <ng-icon
      name="heroUser"
      class="absolute text-xl -translate-y-1/2 left-3 top-1/2"
    />
  </div>
  <button class="px-8 font-semibold rounded-full bg-color-1 text-n-1">
    Search
  </button>
</div>
