<div class="relative mb-20 lg:px-8 2xl:px-12">
  <div class="absolute inset-x-0 top-0 h-fit -z-10">
    <img
      src="./assets/Back-lights.png"
      alt="background"
      class="w-full h-auto"
    />
  </div>

  <div class="text-center max-w-[70%] mx-auto py-4 pt-20">
    <h1 class="font-bold h1">
      <h1 class="inline font-extrabold h1 text-color-1">Find</h1>
      Your Home
      <br />
      <p class="inline font-normal h1">Away</p>
      from Home
    </h1>
    <p class="text-[#ada8c3] mt-4">
      Stay in unique homes and discover new adventures
    </p>
  </div>

  <div class="my-16">
    <app-search-bar />
  </div>

  <div class="px-4 py-8 mt-20 border border-stroke-1 rounded-2xl">
    <div class="flex items-center justify-center gap-4 mb-16">
      <ng-icon name="octNorthStar" class="text-color-4" />
      <h4 class="font-semibold text-center h4">Popular stays</h4>
      <ng-icon name="octNorthStar" class="text-color-4" />
    </div>
    <div
      class="grid mt-4 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-x-12 gap-y-6"
    >
      <app-listing-card [listing]="listing" *ngFor="let listing of listings" />
      <app-listing-card-skeleton />
    </div>
  </div>
</div>
