<div class="relative px-12 py-16 mt-20">
  <div class="text-center max-w-[70%] mx-auto py-4">
    <h1 class="text-5xl leading-[3.5rem] tracking-wider font-bold">
      Find Your Home<br />
      Away from Home
    </h1>
    <p class="text-[#ada8c3] mt-4">
      Stay in unique homes and discover new adventures
    </p>
  </div>

  <app-search-bar />

  <div
    class="grid grid-cols-4 p-4 mt-20 border gap-x-12 gap-y-6 border-stroke-1 rounded-2xl"
  >
    <div
      class="border border-stroke-1 h-[24rem] rounded-xl p-4 min-w-[250px] cursor-pointer"
    >
      <div class="h-[70%] overflow-hidden rounded-md">
        <img
          class="object-cover w-full h-full"
          src="./assets/houses/house1.jpg"
          alt="house"
        />
      </div>
      <div class="my-4 text-[#cac6dd]">
        <h6 class="mb-4 text-base font-bold truncate">
          Guatavita - Stunning cabins - La Leopolda
        </h6>
        <p><b>$355,000</b> COP night</p>
        <div class="mt-auto ml-auto text-color-4 w-fit">
          <i class="fa-solid fa-star"></i>
          <p class="inline ml-1">4.95</p>
        </div>
      </div>
    </div>
  </div>
</div>
