.container {
    padding: 4rem 3rem;
    margin-top: 5rem;
    position: relative;
  }

  .image-container {
    height: 70%;
    overflow: hidden;
    border-radius: 0.4rem;
  }

  .info-container {
    margin: 10px 0;
    color: #cac6dd;
  }
  
  .info-container h6 {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 1rem;
  }