@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;

  .p-inputtext {
    /* @apply px-3 py-2 text-sm bg-gray-800 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50; */
    @apply pl-10 bg-transparent border rounded-lg border-n-5 text-n-2;
  }

  .p-inputnumber > input {
    @apply w-full;
  }

  /* .p-float-label {
    @apply static flex w-full;
  } */

  .p-calendar {
    @apply w-full h-full;
  }

  .p-datepicker {
    @apply scale-75;
  }

  .p-datepicker-icon {
    @apply right-auto left-4 text-n-3;
  }
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  color-scheme: dark;
}

@layer base {
  body {
    @apply font-sans text-base bg-n-8 text-n-2;
  }
}

.blur-purple {
  background: radial-gradient(
      circle at 50% 45%,
      rgba(111, 0, 255, 0.8),
      transparent 60%
    ),
    radial-gradient(circle at 50% 60%, rgba(255, 68, 68, 0.5), transparent 60%),
    radial-gradient(circle at 50% 60%, rgba(255, 174, 0, 0.3), transparent 52%);
  background-blend-mode: overlay;

  width: 1000px;
  height: 1000px;

  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translate(-40%, 0) scale(1.2);
  opacity: 0.6;
}

/* html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
} */
