@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --border-color: #2e2a41;
  --first-color: #6f00ff;
  --second-color: #2b7cff;
  --anchor-color: #409cff; */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  color-scheme: dark;
}

@layer base {
  body {
    @apply font-sans text-base bg-n-8 text-n-2;
  }
}

.blur-purple {
  background: radial-gradient(
      circle at 50% 45%,
      rgba(111, 0, 255, 0.8),
      transparent 60%
    ),
    radial-gradient(circle at 50% 60%, rgba(255, 68, 68, 0.5), transparent 60%),
    radial-gradient(circle at 50% 60%, rgba(255, 174, 0, 0.3), transparent 52%);
  background-blend-mode: overlay;

  width: 1000px;
  height: 1000px;

  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translate(-40%, 0) scale(1.2);
  opacity: 0.6;
}
